<% if @user %>
  successfulSignInUp()
  $('.sign-in-up').html('<%=j render 'navbar2'  %>');
  $('.#love-it').attr("style: inline")

// also show users name welcome across top

<% else %>
  $('#two-field').prepend('<p>Invalid email or password</p>');
<% end %>



