<% if @user %>
  successfulSignInUp()
  $('.sign-in-up').html('<%=j render 'navbar2'  %>');
  $('#love-it').css("display", "inline" );
  $('#will-love-it').css("display", "none");

<% else %>
  $('#two-field').prepend('<p>Invalid email or password</p>');
<% end %>



