<table class="info">
    <thead class="cell-header">
    </thead>
    <tbody class="cell-content">
      <tr>
        <td>Title:</td>
        <td><%= @images_array[0][:title] %></td>
      </tr>
      <tr>
        <td>Artist:</td>
        <td><%= @images_array[0][:artist] %></td>
      </tr>
      <tr>
        <td>Medium:</td>
        <td><%= @images_array[0][:medium] %></td>
      </tr>
      <tr>
        <td>Collection:</td>
        <td><%= @images_array[0][:collection] %></td>
      </tr>
      <tbody>
  </table>