<div class="art-info">


  <table class="info">
    <thead class="cell-header">
    </thead>
    <tbody class="cell-content">
      <tr>
        <td class="table-type">Title:</td>
        <td class="table-info" id="artwork-title"></td>
      </tr>
      <tr>
        <td class="table-type">Artist:</td>
        <td class="table-info" id="artwork-artist"></td>
      </tr>
      <tr>
        <td class="table-type">Medium:</td>
        <td class="table-info" id="artwork-medium"></td>
      </tr>
      <tr>
        <td class="table-type">Collection:</td>
        <td class="table-info" id="artwork-collection"></td>
      </tr>
      <tr>
        <td class="table-type">Date:</td>
        <td class="table-info" id="artwork-date"></td>
      </tr>
      <tr>
        <td class="table-info"><a href='' target="_blank" id="artwork-link">Find me at the Brooklyn Museum!</a></td>
      </tr>
      <tbody>
  </table>
  <div class="love-it-leave-it-buttons">
    <button class="major-button" id="love-it">Love It</button>
    <button class="major-button" id="leave-it">Leave It</button>
  </div> <!-- love-it-leave-it-buttons -->
</div> <!-- art-info -->

<div class="page-wrap">

  <div class="flipbox-container">
    <div class="start inner-box">

      <img id="logo" src="assets/new-logo.png"/>
        <h5>@t random</h5>
          <p id="find-fave">
            Find and fave rare artistic treasures from the Brooklyn Museum.
          </p>
    </div>
    <div class="sign-up flipbox">
      <h2>Museum Art.</h2><h3>When You Want It.</h3>
      <div id="extend">
        <h4>Sign-up to <span>save</span> your favorite artwork <span>forever</span>.</h4>
      </div> <!-- extend -->
      <div class="input" id="sign-up-div">

      </div> <!-- input -->
      <div id="sign-in" id="three-fields">
        <p>Already have an account?
          <button class="major-button" id="log-in-button">Login</button></p>

      </div> <!-- sign-in -->
    </div> <!-- sign-up & flipbox-->
    <div class="sign-in flipbox">
      <h1>Login</h1> <h3>to your Account</h3>
      <div class="input" id="two-field">

      </div> <!-- input -->
      <div id="log-in">
        <p>Get started - It's free!
        <button class="major-button" id="last-button">Sign-Up</button></p>
      </div> <!-- log-in -->
    </div> <!--sign-in & flipbox-->
  </div> <!-- flipbox-container -->
  <div class="inner-image" id="strip">

  </div> <!-- inner-image -->
</div> <!-- page-wrap -->
<div class="major-button stop" id="stop">
  <h1>STOP</h1>
</div> <!-- stop -->
