@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Crafty+Girls|Petit+Formal+Script|Eagle+Lake|Gochi+Hand|Engagement|Architects+Daughter|Ruthie|Pacifico|Amatic+SC|Shadows+Into+Light+Two);

html {
  background: url(bg16.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*.page-wrap {
width: 104px;
height: 172px;
margin: 148px 314px 148px 315px;
padding: 21px;
background: white;
-moz-box-shadow: 0 0 20px black;
-webkit-box-shadow: 0 0 20px black;
box-shadow: 0 0 20px black;
overflow: hidden;
}*/

.page-wrap {
width: 300px;
height: 420px;
margin: 75px auto;
background: none;
-moz-box-shadow: 0 0 20px black;
-webkit-box-shadow: 0 0 20px black;
box-shadow: 0 0 20px black;
overflow: hidden;
}

.inner-image {
position: relative;
width: 4500px;
height: 420px;
background: white;
}

#sign-up {
position: relative;
width: 300px;
height: 420px;
background: white;
}

img {
  float: left;
  width: 300px;
  height: 420px;
  overflow: hidden;
}

#logo {
  position: fixed;
  top: 0;
  left: 20px;
  width: 300px;
  height: 170px;
}

.sign-in-up {
  position: fixed;
  top: 5px;
  right:9px;
  font-size: 14px;
  background-color: #6cd623;
  border-radius: 7px;
  font-weight: bold;
  width: auto;
  padding: 7px;
  font-family: Julius Sans One;
}

.sign-in-up ul li {
  text-decoration: none;
  display: inline;
  margin: 9px;
  text-align: center;
}

.stop {
  position: fixed;
  bottom:15%;
  left: 50%;
  margin-top: -50px;
  margin-left: -65px;
  background-color: black;
  font-weight: bold;
  width: 130px;
  text-align: center;
  font-family: Julius Sans One;
  color: white;
  font-size: 50px;
  border-radius: 30px/10px;
  border: 3px solid black;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
}

.sign-up {
  height: 420px;
  background: #141414;
  background: rgba(0,0,0,0.8);
  opacity:1.4;
  color: white;
  font-family: Julius Sans One;
  text-align: center;
  line-height: 1.2;
  padding-left: 10px;
  padding-right: 15px;
}

#input {
  font-family: Times;
  font-size: 13px;
  font-weight: lighter;
  text-align: left;
}

input {
  border: 2px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 8px;
  background: rgba(255,255,255,0.5);
  margin: 5px 0 10px 0;
  width: 200px;
  border-radius: 5px;
  font-family: helvetica, arial, sans serif;
  font-size: 13px;
  color: black;
}

#sign-up-button{
  -webkit-user-select: none;
  -moz-user-select: none;
  color: #fff;
  text-shadow: rgba(12,12,12,0.4) 0 -1px;
  border-width: 0;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(#b6da36,#90b022);
  background-image: -moz-linear-gradient(#b6da36,#90b022);
  background-image: linear-gradient(#b6da36,#90b022);
  padding: 6px 10px 5px 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
  margin: 35px;
}

h2 {
  font-size: 33px;
  text-align: left;
}

h3 {
  font-size: 19px;
  text-align: right;
}

h4 {
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 22px;
  color: #6cd623;
}

#log-in p {
  position: relative;
  bottom: -30px;
  right: 8px;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 0 30px 0;
  text-indent: 50px;
}

#log-in-button {
  display: inline;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  color: white;
  text-shadow: rgba(12,12,12,0.4) 0 -1px;
  border-width: 0;
  border-radius: 3px;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ee6767),color-stop(100%,#c83b3a));
  background-image: -webkit-linear-gradient(#ee6767,#c83b3a);
  background-image: -moz-linear-gradient(#ee6767,#c83b3a);
  background-image: linear-gradient(#ee6767,#c83b3a);
  padding: 6px 10px 5px 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  overflow: visible;
  text-decoration: none;
  right: -30px;

.span {
  color: blue;
}

#test {
  position: relative;
}


/*body {
-webkit-transition: -webkit-transform 2s ease-in-out;
}
*/
