.container {
  background-image: url(17x12.5.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
  padding-bottom: 5%;
  margin-top: -25px;
}

.top-strip {
  background-color: rgba(179, 196, 83, 0.92);
  height: 6px;
  width: 100%;
  float: left;
  display: block;
}

.btn-slide {
text-align: center;
width: 112px;
height: 32px;
display: block;
font: 14px/14px 'TitilliumText22LMedium', Arial, serif;
color: #000;
text-decoration: none;
background: url(green-button.png) no-repeat 0 0;
background-position: center center;
background-repeat: no-repeat;
position: relative;
z-index: 10;
padding: 10px 30px;
margin: 10px;
display: inline;
/*border radius*/
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

#float-home {
background: url(home.png) no-repeat 0 0;
background-position: center center;
background-repeat: no-repeat;
position: relative;
}

#float-faves {
background: url(fave.png) no-repeat 0 0;
background-position: center center;
background-repeat: no-repeat;
position: relative;
}

#float-about-us {
background: url(down-arrow.png) no-repeat 0 0;
background-position: center center;
background-repeat: no-repeat;
position: relative;
}

.signed-in-navbar.signed-out-navbar {
  padding: 10px 30px;
  margin: 10px;
  display: inline;
}

.btn-slide.far-left {
margin: 0 255px 0 70px;
}

#float-sign-out {
  margin-left: 300px;
}

#float-sign-in {
  margin-left: 440px;
}

.page-wrap {
  position: relative;
  width: 300px;
  height: 420px;
  margin: 75px auto;
  background: none;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
  overflow: hidden;
}

.inner-image {
  position: relative;
  width: 4500px;
  height: 420px;
  background: white;
  overflow: hidden;
}

.sign-up {
  position: relative;
  width: 93%;
  background: white;
}

.logo {
  position: relative;
  height: 420px;
}


img {
  float: left;
  width: 300px;
  height: 420px;
  overflow: hidden;
}

#logo {
  width: 49px;
}

#logo {
  height: 170px;
}

/*.sign-in-up {
  position: fixed;
  top: 5px;
  right:9px;
  font-size: 14px;
  background-color: #6cd623;
  border-radius: 7px;
  font-weight: bold;
  width: auto;
  padding: 7px;
  font-family: Julius Sans One;
}*/

.sign-in-up p{
  cursor: pointer;
}

#search-icon {
width: 300px;
height: 300px;
position: absolute;
background-position: center center;
left: 17%;
bottom: -13%;
}

.stop {
  position: fixed;
  bottom:15%;
  left: 49%;
  margin-top: -50px;
  margin-left: -65px;
  background-color: black;
  font-weight: bold;
  width: 130px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: white;
  font-size: 50px;
  border-radius: 30px/10px;
  border: 3px solid black;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  cursor: pointer;
}

#end p {
  padding-top: 25px;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 15px;
  color: white;
  font-family: Julius Sans One;
  text-align: center;
}

.inner-box {
  height: 420px;
  background: #141414;
  background: rgba(0,0,0,0.8);
  opacity:1.4;
  color: white;
  font-family: Julius Sans One;
  text-align: center;
  line-height: 1.2;
  padding-left: 10px;
  padding-right: 15px;
}

.sign-up {
  height: 420px;
  background: #141414;
  background: rgba(0,0,0,0.8);
  opacity:1.4;
  color: white;
  font-family: Julius Sans One;
  text-align: center;
  line-height: 1.2;
  padding-left: 10px;
  padding-right: 15px;
}

.sign-in {
  height: 420px;
  background: #141414;
  background: rgba(0,0,0,0.8);
  opacity:1.4;
  color: white;
  font-family: Julius Sans One;
  text-align: center;
  line-height: 1.2;
  padding-left: 10px;
  padding-right: 15px;
}

.sign-in h1 {
  font-size: 54px;
  text-align: left;
  text-indent: 20px;
}

.sign-in h3 {
  font-size: 19px;
  text-align: right;
  padding-bottom: 40px;
}

#stop h1{
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 32px;
  border-width: 2px;

}

.input {
  font-family: Times;
  font-size: 13px;
  font-weight: lighter;
  text-align: left;
}

.input #two {
  padding-bottom: 70px;
}

input {
  border: 2px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 8px;
  background: rgba(255,255,255,0.5);
  margin: 5px 0 10px 0;
  width: 200px;
  border-radius: 5px;
  font-family: helvetica, arial, sans serif;
  font-size: 13px;
  color: black;
}

.button {
  -webkit-user-select: none;
  -moz-user-select: none;
  color: #fff;
  text-shadow: rgba(12,12,12,0.4) 0 -1px;
  border-width: 0;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(#b6da36,#90b022);
  background-image: -moz-linear-gradient(#b6da36,#90b022);
  background-image: linear-gradient(#b6da36,#90b022);
  padding: 6px 10px 5px 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
  text-decoration: none;
}

#sign-up-button {
  padding: 6px;
  width: 94px;
}

#sign-in-button {
  margin: 7px;
  padding: 6px 45px;
}

h2 {
  font-size: 33px;
  text-align: left;
}

h3 {
  font-size: 19px;
  text-align: right;
}

h4 {
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 14px;
  color: #6cd623;
}

h5 {
  position: relative;
  font-size: 31px;
  text-indent: -12px;
  font-family: 'Petit Formal Script';
}

#find-fave {
  font-family: 'Lato', Arial, sans-serif;
  padding: 200px 20px 0 30px;
  font-size: 22px;
  color: #6d87b4;
}

#sign-in p {
  position: relative;
  bottom: -15px;
  right: 3px;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 0 30px 0;
  text-indent: 50px;
}

#log-in p {
  position: relative;
  bottom: -70px;
  right: 20px;
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 0 30px 0;
  text-indent: 70px;
}

.major-button {
  -webkit-user-select: none;
  -moz-user-select: none;
  color: white;
  text-shadow: rgba(12,12,12,0.4) 0 -1px;
  border-width: 0;
  border-radius: 3px;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ee6767),color-stop(100%,#c83b3a));
  background-image: -webkit-linear-gradient(#ee6767,#c83b3a);
  background-image: -moz-linear-gradient(#ee6767,#c83b3a);
  background-image: linear-gradient(#ee6767,#c83b3a);
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  overflow: visible;
  text-decoration: none;
  right: -30px;
}

#log-in-button {
  margin-left: 20px
}

#love-it {
  display: none;
  position: relative;
}

#will-love-it {
  display: inline;
  position: relative;
}

#leave-it{
  display: inline;
  position: relative;
  background-image: linear-gradient(#385384,#385384);
}

#last-button {
  display: inline;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  color: white;
  text-shadow: rgba(12,12,12,0.4) 0 -1px;
  border-width: 0;
  border-radius: 3px;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ee6767),color-stop(100%,#c83b3a));
  background-image: -webkit-linear-gradient(#ee6767,#c83b3a);
  background-image: -moz-linear-gradient(#ee6767,#c83b3a);
  background-image: linear-gradient(#ee6767,#c83b3a);
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  overflow: visible;
  text-decoration: none;
  right: -31px;
  bottom: 2px;
}

#sib {
  margin: 7px 0px 0px 93px;
}

#sub {

}

.flipbox-container {
  position: relative;
}

.sign-up.flipbox {
  position: absolute;
  top: 0;
}

/*.sign-in.flipbox {
}*/

.login {
  text-indent: 50px;
}

.span {
  color: blue;
}

.test {
  position: relative;
}

li {
  text-decoration: none;
}

.art-info {
  position: absolute;
  right: 11px;
  top: 150px;
  width: 30%;
  height: auto;
  background-color:#ededed;
  border-radius: 6px;
  color:#777777;
  font-family:arial;
  text-shadow:1px 1px 0px #ffffff;
  padding-top: 10px;
  font-size: 15px
}

.table-type {
  font-family: "Crafty Girls", Helvetica, sans-serif;;
  color: #E86850;
  font-weight: bold;
  padding-left: 20px;
}

.table-info {
  padding-right: 20px;
}

.last :hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}

table tr {
  padding: 0 24px 0 25px;
}

table td {
  border-bottom: solid 0.5px black;
  padding: 5px 30px;
}

table a:link {
  text-decoration: none;
  font-family: "Crafty Girls", Helvetica, sans-serif;;
  color: blue;
  padding-left: 12px;
  padding-right: 12px;
}

table a:hover {
  color: #bd5a35;
}

.last {
  padding-top: 10px;
}

.fave-buttons {
  text-shadow: rgba(12,12,12,0.4) 0 -1px;
  border-width: 0;
  border-radius: 3px;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#ee6767),color-stop(100%,#c83b3a));
  background-image: -webkit-linear-gradient(#ee6767,#c83b3a);
  background-image: -moz-linear-gradient(#ee6767,#c83b3a);
  background-image: linear-gradient(#ee6767,#c83b3a);
  font-size: 14px;
  font-weight: 500;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  overflow: visible;
  text-decoration: none;
}

#stop {
  position: relative;
  background-image: linear-gradient(#321111,black);
  color: red;
  border-radius: 2px;
  border: 3px solid black;
}

.space {
  width: 100%;
  height: 50px;
}

.lvi{
  padding: 12px 18px;
  right: -30px;
  font-size: 25px;
  margin: 5px 20px -15px 0;
}

#love-it {
  padding-right: 25px;
  text-indent: 10px;
}

.space h1 {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-style: italic;
  font-size: 40px;
  text-align: center;
  padding-top: 60px;
  font-weight: 600;
}

/******************Favorites page******************/

.fave-page {
  margin-top: -5px;
}

.x {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity:0.2;
  width: 50px;
  height: 50px;
}

.x img {
  width: 40px;
  height: 40px;
}

.x:hover{
  opacity: 1.5;
}

.a-favorite {
  position: relative;
  margin-top: 40px;
}

.a-favorite img{
  margin: 0 175px 30px 10px;
}

.a-favorite a {
  text-decoration: none;
}

.art {
  height: 420px;
}

.art span{
  line-height: 1.8;
}

#title {
  font-family: 'Lato' Helvetica, sans-serif;
  font-style: italic;
  font-size: 50px;
}

#artist {
  font-family: 'Lato' Helvetica, sans-serif;
  font-style: italic;
  font-size: 30px;
  padding-bottom: 15px;

}

.other{
  font-family: Times, sans-serif;
  font-size: 25px;
  font-weight: lighter;
}

/******************About Us page******************/

.awesomeness {
  position: relative;
  border: 41px solid rgba(179, 196, 83, 0.92);
  height: 600px;
}

.awesomeness img{
  width: 150px;
  height: 150px;
  padding: 20px 30px;
}

#credit {
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Source Sans Pro', Arial, serif;
  font-size: 120px;
  font-weight: 900;
  margin-top: -90px;
  margin-right: -50px;
  color: gray;
}

#credit a{
  text-decoration: none;
  cursor: pointer;
}

a:link {color: gray;}      /* unvisited link */
a:visited {color: black;}  /* visited link */

.awesomeness h2 {
  font-family: 'Source Sans Pro', Arial, serif;
  font-size: 30px;
  padding-top: 20px;
  font-weight: 600;
  color: gray;
}

.awesomeness h3 {
  font-family: 'Lato', Arial, serif;
  font-style: italic;
  font-size: 25px;
  font-weight: 400px;
  text-align: left;
  padding-top: 10px;
  color: rgb(132, 170, 132);
}

.awesomeness

.td {
  position: absolute;
  top: 100px;
  height: 200px;
  width: 70%;
}

.mv {
  position: absolute;
  height: 200px;
  bottom: 50px;
  width: 70%;
}

#toolkit {
  padding-top: 60px;
}