<p class="signed-out-navbar">
  <p id="float-about-us" class="btn-slide far-left">About Us</p>
  <%= link_to "Sign-In", log_in_path, remote: true, :class => 'btn-slide', :id => 'float-sign-in' %>
  <%= link_to "Sign-Up", sign_up_path, remote: true, :class => 'btn-slide', :id => 'float-sign-up' %>
</p>



