<<<<<<< HEAD
  <ul> 
=======
  <ul>
>>>>>>> 4ca1398c5b7824216bd165f84cb8507b6b906a4f
    <li><%= link_to "Sign-Up", users_new_path, remote: true %></li>
    <li>Sign-In</li>
    <li><%= link_to "Log out", log_out_path %></li>
  </ul>


