<p class="signed-in-navbar">
  <a href="/" id="float-about-us" class="btn-slide far-left">About Us</a>
  <a href="/" id="float-home" class="btn-slide">Home</a>
  <a href="/favorites" id="float-faves" class="btn-slide">Favorites</a>
  <%= link_to "Log out", log_out_path, :class => 'btn-slide', :id => 'float-sign-out'  %>
</p>